.interno_portfolio {
  background: url("/img/portfolio/bg-portfolio.jpg") no-repeat center;
}

.quote_clientes {
  padding: 60px 0;
  max-width: 460px;
  margin: o auto;
}
.quote_clientes p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}
.quote_clientes cite {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  float: right;
  font-style: normal;
}
